<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

<div id="content-container" style="float: right; width: 75%"><div id="content" ></div></div>
<div id="sidebar-container" style="float: left; width: 25%"><div id="sidebar" ></div></div>


<script type="application/json" id="bootstrapped_feed_data">
  <%= Feed.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function(){
    var feeds = JSON.parse($("#bootstrapped_feed_data").html());
    window.NewsReader.initialize($("#sidebar"), $("#content"), feeds);
  });
</script>