<h1><%= feed.escape("title") %></h1>

<button class="refresh">Refresh</button>

<ul>
  <% feed.get('entries').each( function(entry) { %>
    <li class='entry'>
      <span class="expander">+</span>
      <a href='<%= entry.escape('link') %>'><%= entry.escape('title') %></a><br>
      <div class="hidden-description"><%= _.unescape(entry.escape('description')) %></div>
    </li>
  <% }); %>
</ul>

<script>
  $(".expander").on("click", function() {
    $(this).siblings(".hidden-description").slideToggle()
  });
</script>