<h1>Feeds</h1>

<ul>
  <% feeds.each(function (feed) { %>
    <li class="feed">
      <a href="#/feeds/<%= feed.id %>">
        <%= feed.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>

<hr>
<h2>Add feed</h2>
<div id="textbox-container">
  <input class="textbox" type="text" name="feed[url]" size=30><br>
  <button class="submit">Add</submit>
</div>