/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#content-container {
  height:100%;
  background-image: url('/pw_pattern.png');
  margin: 0;
  padding: 0;

}

#sidebar-container {
  height:100%;
  box-shadow: 5px 5px 5px #888888;
  margin: 0;
  padding: 0;

}

html,body {
  height:100%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  width: 90%;
}

li {
  margin: 3px 0 0 0;
}

h1, h2 {
  text-align: center;
  font-family: 'Nixie One', cursive;
}

ul {
  list-style: none;
}

button.refresh {
  margin: 0 0 0 25px;
}

#textbox-container {
  text-align: center;
}

.submit {
  display: none;
}
